.note_space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;

  strong {
    margin-right: 1em;
  }
}

.note-exit-active {
  animation: note 800ms ease-out;
}

.note-enter-active {
  animation: note 800ms ease-in alternate-reverse;
}

@keyframes note {
  0% {
    transform: translateX(0);
  }
  30% {
    opacity: 0.7;
    transform: translateX(30px);
  }
  100% {
    opacity: 0;
    transform: translateX(-200px);
  }
}
